In [1]:
import joblib

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

# Load the dataset
df = pd.read_csv("3 - database_2.csv (2) 2 - in (1).csv")
df.columns = df.columns.str.replace(' ','_' )


dlink = df.drop(['Links'] , axis =1 , inplace = True)
dlogo = df.drop(['logo'] , axis =1 , inplace = True)


df2 = pd.read_csv("3 - database_2.csv (2) 2 - in (1).csv")
df2.columns = df2.columns.str.replace(' ','_' )


dlink2 = df2.drop(['Links'] , axis =1 , inplace = True)
dlogo2 = df2.drop(['logo'] , axis =1 , inplace = True)


df.head()
df.tail()

,country,city,region,type,size,sports,percentage,Music,University,University_Names
928,Sweden,Stockholm,Europe,Private,S,Tanis,A,NO,155,Stockholm School of Economics
929,Italy,Milan,Europe,Private,L,Football,B,YES,155,Bocconi University
930,France,CompiÃƒÂ¨gne,Europe,Public,S,Tanis,E,NO,156,Universitas© de Technologie de CompiÃ¨gne (UTC)
931,Czech Republic,Prague,Europe,Public,L,Football,A,YES,156,Prague University of Economics and Business
932,Germany,Vallendar,Europe,Private,S,Tanis,B,NO,156,WHU - Otto Beisheim School of Management

In [3]:
t1 =tuple(df['country'])
t2 =tuple(df['city'])
t3 =tuple(df['region'])
t4 =tuple(df['type'])
t5 =tuple(df['size'])
t6 =tuple(df['sports'])
t7 =tuple(df['percentage'])
t8 =tuple(df['Music'])
t9 =tuple(df['University'])
t10 = tuple(df['University_Names'])

In [4]:
factorized_categories_1 = pd.Series(t1)
factorized_categories_2 = pd.Series(t2)
factorized_categories_3 = pd.Series(t3)
factorized_categories_4 = pd.Series(t4)
factorized_categories_5 = pd.Series(t5)
factorized_categories_6 = pd.Series(t6)
factorized_categories_7 = pd.Series(t7)
factorized_categories_8 = pd.Series(t8)




# Get unique categories from the factorized column
unique_categories_1 = factorized_categories_1.unique()
unique_categories_2 = factorized_categories_2.unique()
unique_categories_3 = factorized_categories_3.unique()
unique_categories_4 = factorized_categories_4.unique()
unique_categories_5 = factorized_categories_5.unique()
unique_categories_6 = factorized_categories_6.unique()
unique_categories_7 = factorized_categories_7.unique()
unique_categories_8 = factorized_categories_8.unique()
# Create a dictionary to map factorized codes to original categories
category_dict_1 = {code: category for code, category in enumerate(unique_categories_1)}
category_dict_2 = {code: category for code, category in enumerate(unique_categories_2)}
category_dict_3 = {code: category for code, category in enumerate(unique_categories_3)}
category_dict_4 = {code: category for code, category in enumerate(unique_categories_4)}
category_dict_5 = {code: category for code, category in enumerate(unique_categories_5)}
category_dict_6 = {code: category for code, category in enumerate(unique_categories_6)}
category_dict_7 = {code: category for code, category in enumerate(unique_categories_7)}
category_dict_8 = {code: category for code, category in enumerate(unique_categories_8)}
# Print the dictionary
print(category_dict_1)

{0: 'United States', 1: 'United Kingdom', 2: 'Switzerland', 3: 'Singapore', 4: 'Australia', 5: 'China (Mainland)', 6: 'Hong Kong SAR', 7: 'Canada', 8: 'France', 9: 'Japan', 10: 'South Korea', 11: 'Netherlands', 12: 'Germany', 13: 'Taiwan', 14: 'Denmark', 15: 'Sweden', 16: 'Belgium', 17: 'New Zealand', 18: 'Argentina', 19: 'Finland', 20: 'Ireland', 21: 'Russia', 22: 'Norway', 23: 'Brazil', 24: 'Mexico', 25: 'Malaysia', 26: 'Chile', 27: 'Israel', 28: 'India', 29: 'Austria', 30: 'Spain', 31: 'Italy', 32: 'Saudi Arabia', 33: 'South Africa', 34: 'Lebanon', 35: 'Kazakhstan', 36: 'Thailand', 37: 'Colombia', 38: 'Czech Republic', 39: 'Portugal', 40: 'Indonesia', 41: 'Estonia', 42: 'Belarus', 43: 'Egypt', 44: 'Poland', 45: 'Philippines', 46: 'Ukraine', 47: 'Qatar', 48: 'Greece', 49: 'United Arab Emirates', 50: 'Turkey', 51: 'Iran, Islamic Republic of', 52: 'Oman', 53: 'Bahrain', 54: 'Costa Rica', 55: 'Peru', 56: 'Lithuania', 57: 'Pakistan', 58: 'Macau SAR', 59: 'Hungary', 60: 'Jordan', 61: 'Venezuela', 62: 'Uruguay', 63: 'Iraq', 64: 'Slovenia', 65: 'Slovakia', 66: 'Bulgaria', 67: 'Latvia', 68: 'Croatia', 69: 'Romania', 70: 'Azerbaijan', 71: 'Kuwait', 72: 'Uganda', 73: 'Ecuador', 74: 'Cuba', 75: 'Puerto Rico', 76: 'Serbia', 77: 'Sri Lanka', 78: 'Bangladesh', 79: 'Ghana', 80: 'Kenya'}

In [5]:
df['country'] = df['country'].factorize()[0]
df['city'] = df['city'].factorize()[0]
df['type'] = df['type'].factorize()[0]
df['region'] = df['region'].factorize()[0]
df['size'] = df['size'].factorize()[0]
df['sports'] = df['sports'].factorize()[0]
df['percentage'] = df['percentage'].factorize()[0]
df['Music'] = df['Music'].factorize()[0]
df.head()

,country,city,region,type,size,sports,percentage,Music,University,University_Names
0,0,0,0,0,0,0,0,0,1,Massachusetts Institute of Technology (MIT)
1,0,1,0,0,1,1,0,1,1,Stanford University
2,0,0,0,0,1,1,0,1,1,Harvard University
3,1,0,1,1,1,1,0,1,1,University of Cambridge
4,0,2,0,0,2,2,1,0,1,California Institute of Technology (Caltech)

In [6]:
University_Names = df.drop(['University_Names'] , axis =1 , inplace = True)

In [7]:
# Encode the categorical features
le = LabelEncoder()
for col in df.select_dtypes(include="category").columns:
    df[col] = le.fit_transform(df[col])

# Create the decision tree classifier
clf = DecisionTreeClassifier()

# Train the model
clf.fit(df.drop("University", axis=1), df["University"])

# Make predictions
predictions = clf.predict(df.drop("University", axis=1))

# Evaluate the model
print(clf.score(df.drop("University", axis=1), df["University"]))

0.954983922829582

In [7]:
from time import strftime

reverse_dict_1 = {v: k for k, v in category_dict_1.items()}
category_value_1 = input("Enter a Country Name: ")
# Check if the value exists in the reverse dictionary
if category_value_1 in reverse_dict_1:
    # Retrieve the corresponding factorized code
    factorized_code_1 = reverse_dict_1[category_value_1]
    print("Factorized Code:", factorized_code_1)
else:
    print("Value not found in the reverse dictionary.")


reverse_dict_2 = {v: k for k, v in category_dict_2.items()}
category_value_2 = input("Enter a City Name: ")
# Check if the value exists in the reverse dictionary
if category_value_2 in reverse_dict_2:
    # Retrieve the corresponding factorized code
    factorized_code_2 = reverse_dict_2[category_value_2]
    print("Factorized Code:", factorized_code_2)
else:
    print("Value not found in the reverse dictionary.")



reverse_dict_3 = {v: k for k, v in category_dict_3.items()}
category_value_3 = input("Enter a Region Name: ")
# Check if the value exists in the reverse dictionary
if category_value_3 in reverse_dict_3:
    # Retrieve the corresponding factorized code
    factorized_code_3 = reverse_dict_3[category_value_3]
    print("Factorized Code:", factorized_code_3)
else:
    print("Value not found in the reverse dictionary.")


reverse_dict_4 = {v: k for k, v in category_dict_4.items()}
category_value_4 = input("Enter a Type of University : ")
# Check if the value exists in the reverse dictionary
if category_value_4 in reverse_dict_4:
    # Retrieve the corresponding factorized code
    factorized_code_4 = reverse_dict_4[category_value_4]
    print("Factorized Code:", factorized_code_4)
else:
    print("Value not found in the reverse dictionary.")


reverse_dict_5 = {v: k for k, v in category_dict_5.items()}
category_value_5 = input("Enter a size of University: ")
# Check if the value exists in the reverse dictionary
if category_value_5 in reverse_dict_5:
    # Retrieve the corresponding factorized code
    factorized_code_5 = reverse_dict_5[category_value_5]
    print("Factorized Code:", factorized_code_5)
else:
    print("Value not found in the reverse dictionary.")



reverse_dict_6 = {v: k for k, v in category_dict_6.items()}
category_value_6 = input("Enter a sports name: ")
# Check if the value exists in the reverse dictionary
if category_value_6 in reverse_dict_6:
    # Retrieve the corresponding factorized code
    factorized_code_6 = reverse_dict_6[category_value_6]
    print("Factorized Code:", factorized_code_6)
else:
    print("Value not found in the reverse dictionary.")


reverse_dict_7 = {v: k for k, v in category_dict_7.items()}
category_value_7 = int(input("Enter a percentage: "))
if (category_value_7 >100 or category_value_7 <0):
    print("----INVALID PERCENTAGE----")
elif (85<category_value_7<=100):
    category_value_7 = "A"
elif (70<category_value_7<=85):
    category_value_7 = "B"
elif (55<category_value_7<=70):
    category_value_7 = "C"
elif (35<category_value_7<=55):
    category_value_7 = "D"
elif (0<category_value_7<=35):
    category_value_7 = "E"


# Check if the value exists in the reverse dictionary
if category_value_7 in reverse_dict_7:
    # Retrieve the corresponding factorized code
    factorized_code_7 = reverse_dict_7[category_value_7]
    print("Factorized Code:", factorized_code_7)
else:
    print("Value not found in the reverse dictionary.")



reverse_dict_8 = {v: k for k, v in category_dict_8.items()}
category_value_8 = input("Enter a Music: ")


# Check if the value exists in the reverse dictionary
if category_value_8 in reverse_dict_8:
    # Retrieve the corresponding factorized code
    factorized_code_8 = reverse_dict_8[category_value_8]
    print("Factorized Code:", factorized_code_8)
else:
    print("Value not found in the reverse dictionary.")
    
    
    

    
#PREDICTION
    
data = [[factorized_code_1 ,factorized_code_2 , factorized_code_3 , factorized_code_4 , factorized_code_5, factorized_code_6,factorized_code_7,factorized_code_8]]
prediction = clf.predict(data)

print(prediction)

Enter a Country Name: United States
Factorized Code: 0
Enter a City Name: Cambridge
Factorized Code: 0
Enter a Region Name: North America
Factorized Code: 0
Enter a Type of University : Private
Factorized Code: 0
Enter a size of University: M
Factorized Code: 0
Enter a sports name: VollyBall
Factorized Code: 0
Enter a percentage: 76
Factorized Code: 1
Enter a Music: YES
Factorized Code: 1
[1]

C:\Users\NEELJ\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [8]:
# PREDICTION MATH

for i in range(len(prediction)):
    New = prediction[i]

if (New == 156):
    New = New*6
    for N in range(New-6,New-3) :
        print(df2.loc[N, "University"], df2.loc[N, "University_Names"])

else :
    New = New*6
    for N in range(New-6,New) :
        print(df2.loc[N, "University"], df2.loc[N, "University_Names"])

1 Massachusetts Institute of Technology (MIT)
1 Stanford University
1 Harvard University
1 University of Cambridge
1 California Institute of Technology (Caltech)
1 University of Oxford

In [9]:

with open('model.pkl', 'wb') as file:
    pickle.dump(clf, file)
with open('model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

In [9]:
joblib.dump(clf,"model.joblib")

['model.joblib']